body {
  font-family: "helvetica";
}

#main-background{
  background: url('/assets/main-background.gif');
  height: 600px;
  width: 800px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-background > div {
  text-align: center;
}

#main-background h1 {
  color: white;
  font-family: 'helvetica';
}


button {
  padding: 20px;
  margin-top: 140px;
  border-radius: 3px;
  max-width: 80%;
}

.health, .score {
  display: none;
}

.scoreboard {
  text-align: right;
  width: 100%;
}

ul {
  display: flex;
  font-size: 1.5rem;
  position: absolute;
  color: white;
  right: 201px;
}

li {
  padding-right: 20px;
}
