html{
  overflow-x: hidden;
}

body{
/* width: 100%; */

/* margin: auto; */
  /* background-image: url("../bg-alien.gif") */
  background: url(../bg-alien.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


body > #main-background, body > #end-game {
  display: none;
}


#main-background, #user-input, #end-game {
  background: url('/front-end/assets/main-background.gif');
  height: 600px;
  width: 800px;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-background > div, #user-input > div, #end-game > div {
  text-align: center;
}

#main-background h1, #end-game h1 {
  color: white;
  font-family: 'helvetica';
}


button {
  padding: 20px;
  border-radius: 3px;
  max-width: 80%;
}

/* .health, .score {
  display: none;
} */

.scoreboard {
  /* text-align: right; */
  /* width: 100%; */
    /* background-color: white; */
}

ol {

  font-size: 1.5rem;
  /* padding: 0px; */
    list-style-type: decimal;
}

li {
  padding-right: 20px;
}

.scores {
  color: black;
  background-color: white;

  /* position: absolute; */
  left: 884px;
}
