html {
}

body {
  font-family: "helvetica";
}

body > #main-background, body > #end-game, body > #victory {
  display: none;
}


#main-background, #user-input, #end-game, #victory {
  background: url('/front-end/assets/main-background.gif');
  height: 600px;
  width: 800px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-background > div, #user-input > div, #end-game > div, #victory > div {
  text-align: center;
}

#main-background h1, #end-game h1, #victory h1 {
  color: white;
  font-family: 'helvetica';
}


button {
  padding: 20px;
  border-radius: 3px;
  max-width: 80%;
}

.health, .score {
  display: none;
}

.scoreboard {
  text-align: right;
  width: 100%;
}

ul {
  font-size: 1.5rem;
  padding: 0px;
  list-style-type: none;
}

li {
  padding-right: 20px;
}

.scores {
  color: black;
  position: absolute;
  left: 884px;
}

canvas {
  position: absolute;
    left: 25%;
}
