
html{
  overflow-x: hidden;
}

body{
<<<<<<< HEAD
=======

>>>>>>> master
}

.background {
  width: 103vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
  background-color: black;
}

.background img {
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: .1;
}

body > #main-background, body > #end-game, body > #victory {
  display: none;
}


#main-background, #user-input, #end-game, #victory {
  background: url('/front-end/assets/main-background.gif');
  height: 600px;
  width: 800px;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-background > div, #user-input > div, #end-game > div, #victory > div {
  text-align: center;
}

#main-background h1, #end-game h1, #victory h1 {
  color: white;
  font-family: 'helvetica';
}

#scores-div {
  max-width: 300px;
  margin-top: 20px;
}

button {
  padding: 20px;
  max-width: 80%;
  border-radius: 7px;
}

.play-button, .change-player{
  border-radius: 7px;
}

.health {
  display: none;
}

.score {
  margin-top: 50px;
  margin-right: -8px;
}

/* Left Side Scoreboard */

.scoreboard {
  right: 20%;
  top: 3%;
  color: white;
  position: absolute;
  font-size: 25px;
  z-index: 200;
}

ol {
  font-size: 1.5rem;
  list-style-type: decimal;
}

li {
  padding-right: 20px;
}

.scores {
  color: black;
  background-color: white;

  /* position: absolute; */
  left: 884px;
}

.username {
  color: #86c0ff;
}

.instructions {
  position: absolute;
  bottom: 150px;
  color: white;
  right: 50%;
}
